---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../icons/LinkedIn.astro"
import GithubIcon from "../icons/Github.astro"
import MailIcon from "../icons/Mail.astro"
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
---

<Layout description="Hire David to create your web application. Web developer." title="David's Portfolio - Web developer and programmer">
	<main class="mx-auto">
		<SectionContainer class="pt-44 pb-24">
			<img
				class="size-12 mb-4 object-cover rounded-full"
				src="../../public/images/photo.jpeg"
				alt=""
			/>
			<h1
				class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4"
			>
				Hey, I'm David
				<div class="flex justify-center items-center">
					<a
						href="https://www.linkedin.com/in/david-rodr%C3%ADguez-370080250/"
						rel="noopener"
						target="_blank"
					>
						<Badge>Available for hire</Badge>
					</a>
				</div>
			</h1>
			<h2 class="text-xl opacity-80">
				Web developer based in Valencia, Venezuela. I specialize in Web
				Apps I grew up surrounded by technology, and started learning
				programming when I was 17. I'm self-taught programer
			</h2>
	
			<nav class="flex gap-x-2 mt-4">
				<SocialPill href="https://www.linkedin.com/in/david-rodr%C3%ADguez-370080250/">
					<LinkedInIcon class="size-5"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://www.linkedin.com/in/david-rodr%C3%ADguez-370080250/">
					<GithubIcon class="size-5"/>
					Github
				</SocialPill>
				<SocialPill href="https://www.linkedin.com/in/david-rodr%C3%ADguez-370080250/">
					<MailIcon class="size-5"/>
					dalejorod@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold mb-6">Experience</h2>

			<Experience />
		</SectionContainer>
	</main>
</Layout>
