<ol class="relative border-gray-200 dark:border-gray-700 space-y-8">
  <li class="ms-4">
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 block"
      >February 2025 - April 2025</time
    >
    <a href="#poly-doc" class="text-lg font-semibold text-gray-900 dark:text-white hover:text-[#f4d643]">
      Polyproto • ReactJS Developer
    </a>
    <p
      class="max-w-[500px] text-pretty text-sm lg:text-base font-normal text-gray-500 dark:text-gray-400"
    >
      I worked developing in a performant e-commerce doing Front-End and testing,
      and I also work on many beautiful landing pages.
    </p>
  </li>
  <li class="ms-4">
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 block"
      >February 2023 - October 2024</time
    >
    <a href="#whizzes" class="text-lg font-semibold text-gray-900 dark:text-white hover:text-[#f4d643]">
      Whizzes • Web Developer
    </a>
    <p
      class="max-w-[500px] text-pretty text-sm lg:text-base font-normal text-gray-500 dark:text-gray-400"
    >
      I worked developing in a performant e-commerce doing Front-End and testing,
      and I also work on many beautiful landing pages.
    </p>
  </li>
</ol>
