<ol class="relative border-gray-200 dark:border-gray-700">
    <li class="ms-4">
        <time
            class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
            >Now</time
        >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
           Software Developer
        </h3>
        <p class="max-w-[500px] text-pretty text-sm lg:text-base font-normal text-gray-500 dark:text-gray-400">
            I worked developing in a performant e-commerce doing Fron-End, Back-End and testing, and I also work on many beutiful landing pages. 
        </p>
    </li>
</ol>
