<a
    class="border h-8 text-sm border-white/10 flex rounded-lg hover:scale-110 transition bg-white/5 justify-center gap-x-2 px-2 py-2 items-center"
    href={Astro.props.href}
    target="_blank"
    rel="noopener noreferrer"
>
    <slot />
</a>
