<a
  class="border h-8 text-xs lg:text-sm border-white/10 flex rounded-lg hover:scale-110 transition bg-white/5 justify-center gap-x-1 lg:gap-x-2 p-1 lg:px-2 lg:py-2 items-center"
  href={Astro.props.href}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
